<html>
    <head>
        <meta name="viewport" content="width=device-width", intital-scale=1.0">
        <title>bro idek</title>

        <link rel = "stylesheet" href="../../aboutstyle.css">

        <link href="https://fonts.googleapis.com/css?family=Roboto:wght@400;700&display=swap" rel = "stylesheet">
    </head>
    <body>
        <div class = "container">
            <div class = "navbar">
                <img src="../../logo.jpeg" class ="logo"> <!-- We add our logo here when we make it -->
                <nav>
                    <ul>
                        <li><a href="index.html">GALLERY</a></li>
                        <li><a href="aboutus.html">ABOUT US</a></li>
                    </ul>
                </nav>
                <img src = "../../menu.png" class ="menu-icon"> <!-- Menu Icon is needed -->
            </div>
    
            <div class ="row">
                <div class = "col">
                    <h1>SB Gallery</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quae consequuntur magnam, hic ipsa eos minima debitis ipsam quia sapiente excepturi sit. Ipsa, consequuntur. Atque officia temporibus ad ea? Eius.</p>
                </div>
            </div>
    </body>
</html>