<html>
    <head>
        <meta name="viewport" content="width=device-width", intital-scale=1.0>
        <title>bro idek</title>

        <link rel = "stylesheet" href="../static/styles/aboutstyle.css">

        <link href="https://fonts.googleapis.com/css?family=Roboto:wght@400;700&display=swap" rel = "stylesheet">
    </head>
    <body>
        <div class = "container">
            <div class = "navbar">
                <img src="../static/styles/logo.jpeg" class ="logo"> <!-- We add our logo here when we make it -->
                <nav>
                    <ul>
                        <li><a href="{{ url_for('auth.gallery') }}">GALLERY</a></li>
                        <li><a href="{{ url_for('auth.aboutUs') }}">ABOUT US</a></li>
                    </ul>
                </nav>
                <img src = "../static/styles/menu.png" class ="menu-icon"> <!-- Menu Icon is needed -->
            </div>
    
            <div class ="row">
                <div class = "col">
                    <h1 class="title">SB Gallery</h1>
                    <p>Hey! Take a sneak peak at our dev team!</p>
                </div>
                
                <div class="bioLeft">
                    <img src="../static/styles/mao.jpg" class="kev"> 
                </div>
                <div class = "kevbio">
                    <h2> Kevin Shao </h2>
                    <p2> I am a first year CS student at Ryerson University!<br>I enjoy video editing and crying about my code not working :D <br> Here is my cat named Mao! (litterally cat in chinese)</p2>
                </div>

                <div class="bioRight">
                    <img src="../static/styles/ky.jpg" class="ky">
                </div>
                <div class = "kybio">
                    <h2> Kyron Trinh </h2>
                    <p2> Hola, as you can see my name is Kyron<br>I’m currently a student at Ryerson University for Computer Science <br> I love volleyball and basketball and from my picture, my doggo Gucci!</p2>
                </div>
                <div class="bioLeft">
                    <img src="../static/styles/anna.jpg" class="anna">
                </div>
                <div class = "annabio">
                    <h2> Annabel Chao </h2>
                    <p2> Me anna<br>here is my cat neko san</p2>
                </div>

                <div class="bioRight">
                    <img src="../static/styles/bun.jpg" class="amy">
                </div>
                <div class = "amybio">
                    <h2> Amy Xie </h2>
                    <p2> Hola, as you can see my name is Kyron<br>I’m currently a student at Ryerson University for Computer Science <br> I love volleyball and basketball and from my picture, my doggo Gucci!</p2>
                </div>

            </div>
            
    </body>
</html>