<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width", intital-scale=1.0>
        <title>bro idek</title>

        <link rel = "stylesheet" href="../static/styles/style.css">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    <body>
      <div class = "container">
        <div class = "navbar">
            <img src="../static/styles/logo.jpeg" class ="logo"> <!-- We add our logo here when we make it -->
            <nav>
                <ul>
                  <li><a href="{{ url_for('auth.gallery') }}">GALLERY</a></li>
                  <li><a href="{{ url_for('auth.aboutUs') }}">ABOUT US</a></li>
                </ul>
            </nav>
            <img src = "../static/styles/menu.png" class ="menu-icon"> <!-- Menu Icon is needed -->
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %} {% if
            messages %} {% for category, message in messages %} {% if category ==
            'noData' %}
            <div class="alert alert-danger alter-dismissable fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% else %}
            <div class="alert alert-success alter-dismissable fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endif %} {% endfor %} {% endif %} {% endwith %}


        <form method = "POST">
            Business Name: <br><input type="text" name="BusinessName" placeholder = "business name here"><br>
            Bio: <br><input type = "text" name = "Bio" placeholder = "Give a little description of your business (Max 150 characters)"><br>
            Address: <br><input type = "text" name = "Address" placeholder = "(#, Street, City, Postal Code)"><br>
            Photos: <br><input type="file" name = "Photos"><br>
            Business Type: <br> <select name = "BusinessType" id = "BusinessType">                    
              <optgroup label="Types">
                <option value="Choose">Choose One</option>
              <option value="fitness">Fitness</option>
              <option value="pharmaceuticals">Pharmaceuticals</option>
              <option value="jewelry">Jewelry</option>
              <option value="clothing">Clothing</option>
              <option value="Food">Food</option>
              <option value="outdoorServices">Outdoor Services</option>
              <option value="indoorServices">Indoor Services</option>
              <option value="recreation">Recreation</option>
              <option value="technology/electronics">Technology/Electronics</option>
              <option value="entertainment">Entertainment</option>
              <option value="toys">Toys</option>
              <option value="finances/law">Finances/Law</option>
              <option value="other">Other</option>
          </optgroup></select>
          <input type = "submit" value = "Submit">  
          </form>
        
          
    </body>

</html>