<html> 
    <head>
        <meta name="viewport" content="width=device-width", intital-scale=1.0>
        <title>bro idek</title>

        <link rel = "stylesheet" href="../static/styles/style.css">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
<body>
    <div class = "container">
        <div class = "navbar">
            <img src="../static/styles/logo.jpeg" class ="logo"> <!-- We add our logo here when we make it -->
            <nav>
                <ul>
                    <li><a href="">GALLERY</a></li>
                    <li><a href="aboutus.html">ABOUT US</a></li>
                </ul>
            </nav>
            <img src = "../static/styles/menu.png" class ="menu-icon"> <!-- Menu Icon is needed -->
        </div>

        <div class ="row">
            <div class = "col">
                <h1>SB Gallery</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quae consequuntur magnam, hic ipsa eos minima debitis ipsam quia sapiente excepturi sit. Ipsa, consequuntur. Atque officia temporibus ad ea? Eius.</p>
            </div>
        </div>

        <div class = "card card1">
            <h5> Test1 </h5>
            <p>idk burn amy</p>
            <p2>burn amy but less</p2>
        </div>
        <div class = "card card2">
            <h5> Test2 </h5>
            <p>idk burn amy</p>
            <p2>burn amy but less</p2>
        </div>
        <div class = "card card3">
            <h5> Test3 </h5>
            <p>idk burn amy</p>
            <p2>burn amy but less</p2>
        </div>
        <div class = "card card4">
            <h5> Test4 </h5>
            <p>idk burn amy</p>
            <p2>burn amy but less</p2>
        </div>
        <div class = "card card5">
            <h5> Test5 </h5>
            <p>idk burn amy</p>
            <p2>burn amy but less</p2>
        </div>

    <!--    <button id ="open">
            Click me please
        </button>

        <div class = "model-container" id="model_container">
            <div class = "model">
                <h2>Models</h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro neque nam voluptatibus, odio, vero, eaque repudiandae explicabo rerum provident quo impedit repellendus saepe ullam ipsum voluptas tenetur veniam. Tempora, quaerat!
                </p>
                <botton id = "close">
                    Close me
                </botton>
            </div>
        </div>
 -->
        <div class = "media"><!--pop up need to go in here-->
            <ul>
                <li><a href=""9target="_blank"><i class="fa fa-plus"></i></a></li> <!--pop up need to go in here inside the href-->
            </ul>
        </div>
</body>
</html>